body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('../media/menu/home.jpeg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    height: 100vh;
    color: #fff;
  }

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
  }
.container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  
    background-color: #1e1e1e;
    /* border:3px solid #080808; */
    width: 92%; /*52 */
    height: 95%;
    border-radius: 16px;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
  }

.battlefield{
    display: flex;
    flex-direction: column;
    width: 91%;

}
.enemy{
    display: flex;
    flex-direction: row;
    height: 45%;
    /* background-color: pink; */
}
.enemy_battle{
    width: calc(100% - 150px);
    height: calc(100% - 170px);
    /* background-color: red; */
}
.enemy_play_cards {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
}
.enemy_play_cards img {
    
    height: 160px;
    aspect-ratio: 3 / 4;
    border-radius: 10px;
    margin-right:7%;
}
.enemy_cards{
    margin-right: 30px;
    display: flex;
    justify-content: right;
    overflow: hidden;

}
.enemy_card_img{
    box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.6) ;
    width:100px;
    margin-top:-20px;
    margin-left: -30px;
    filter: brightness(70%);
    transform: rotate(180deg);
    
}
#enemy_hp{
    background-color: rgb(247, 94, 94);
}

.enemy_avatar{
    border-radius:0 5px 0 0px;
    border-left: 5px solid #4c4c4c;
    border-bottom: 5px solid #4c4c4c;
    height: 150px;
    width: 150px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.board{
    display:flex;
    flex-direction: row;
    height: 10%;
    /* background-color: white; */
    background-color:#4c4c4c5a ;
    justify-content: right;
    align-items: center;
    border-radius: 0 10px 10px 0;
    margin: 0 5px 0 0px
    
}
.timer{
    width: 15%;
    /* background-color: pink; */
    height: auto;

}

.move {
    width: 50%;

}
.God{
    transform: rotate(225deg);
    height: 100px;
    border-radius:10px ;
}

.board_button_container{
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: red; */
}

.board_button{
    margin: 0 10px 0 0;
    background-color: #1e1e1e;
    color: white;
    border: none;
    border-radius: 7px;
    width: 100px;
    height: 36px;
    transition: box-shadow 0.25s ease ;
}

.board_button:hover{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}
.player{
    display: flex;
    flex-direction: row;
    height: 45%;
    /* background-color: red; */
}
.player_battle{

    width: calc(100% - 150px);
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}
.player_battle .card_with_stats{
    margin-left:7%;
    cursor: default;
}
.player_battle_card{
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.3);
    margin: 8% 25px 0 30px;
    height: 45%;
}

.player_avatar{
    border-radius:10px 0 5px 0;
    border-left: 5px solid #4c4c4c;
    border-top: 5px solid #4c4c4c;
    height: 150px;
    width: 150px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.player_cards{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 9%;
    border-right: 5px solid #4c4c4c5a;

}
.card_holder{
    margin: 1% 0 0 0;
    height: 21%;
    width: auto;
}
.card_with_stats{
    cursor: grab;
    max-height: 165px;
    aspect-ratio: 3 / 4;
    position: relative;
    height: 100%;

}
.player_card_img {
    height: 100%;
    aspect-ratio: 3 / 4;
    border-radius: 10px;
    flex-grow: 1;

    /* margin: 7px; */
    /* object-fit: contain; */
    
}

.card_with_stats:active {
    box-shadow: 0 8px 24px rgba(0,0,0,0.5);
    cursor: grabbing;
  }

.avatar_container_player{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#player_hp{
    font-weight: bold;
    background-color: rgb(247, 94, 94);
    width: 50%;
}
#player_mana{
    font-weight: bold;
    background-color: rgb(58, 108, 224);
    width: 50%;
}
.hp_mana{
    display: flex;
    flex-direction: row;
}
.hp{
    font-size: 18px;
    border-top-left-radius:10px ;
    position: absolute;
    left:0;
    top:0;
    background-color: gray;
}
.cost{
    font-size: 18px;
    border-bottom-left-radius:10px ;
    position: absolute;
    left:0;
    bottom:0;
    background-color: blue;
}
.dmg{
    font-size: 18px;
    border-top-right-radius: 10px;
    position: absolute;
    right:0;
    top:0;
    background-color: red;
}

#big_nt_btn{
    display: flex;
    
    align-items: center;
    justify-content: center;
    min-width: max-content;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 7px;
    outline: none;
    font-weight: 500;
    flex-direction: row;
    color: rgb(247, 247, 247);
    background: rgb(206, 64, 59);
    padding: 0px 16px;
    font-size: 1.4em;
    height: 36px;
    width: 100px;
    font: inherit;
    font-weight:bold;
}
