/* Общие стили */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    background: url('../media/menu/marvel.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    height: 100vh;
    color: #fff;
    
  }
    
  .background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
  }

  .container {
    /* display:none; */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    
    background-color: #1e1e1e;
    justify-content: center ;
    align-items: center;
    width: 15%;
    height: 30%;
    border-radius: 16px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    text-align: center;
  }
  label {
    margin-top: 15px;
  }
  .spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #ccc;
    border-top: 6px solid #3498db;
    border-radius: 100%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }