body {
    font-family: sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../media/menu/wiki_bg.jpg");
}

.cards-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.title_swaga {
    color: #37311b;
}